<div id="front-background-img" class="home-container full-height-vh ">
    <div class="home-header navbar-fixed ">

        <nav class="transparent">
            <div class="nav-wrapper">
                <a id="nav-title" ui-sref="root.home" class="brand-logo left"><img src="/images/logo.png"
                                                                                   alt="La sala"/> SALA
                    10</a>
                <a data-activates="mobile-demo" data-sidenav="left" data-closeonclick="true" class="button-collapse">
                    <i class="mdi-navigation-menu"></i>
                </a>
                <ul class="side-nav" id="mobile-demo">
                    <li ui-sref-active="active">
                        <a ui-sref="root.teachersSearch">
                            Buscar profesores
                        </a>
                    </li>

                    <!-- Logged in buttons -->
                <span ng-show="vm.isAuthenticated()">
                    <li ui-sref-active="active"
                        ng-cloak>
                        <a ui-sref="root.account.user"><i
                            class="material-icons left">account_circle</i>
                            {{ vm.getCurrentUser().firstName}}
                        </a>
                    </li>
                    <li>
                        <!-- TODO: Replace click with ui-sref -->
                        <a href="" ng-click="vm.logout()">Salir</a>
                    </li>
                </span>

                    <!-- Logged out buttons -->
                <span ng-show="!vm.isAuthenticated()">
                    <li>
                        <a ui-sref="root.login"
                           ng-click="isCollapsed = true">
                            Iniciar sesión
                        </a>
                    </li>
                    <li>
                        <a ui-sref="root.register.method({target: 'teacher'})"
                           ng-click="isCollapsed = true">
                            Quiero enseñar
                        </a>
                    </li>
                </span>
                </ul>

                <ul class="right hide-on-med-and-down">

                    <li ui-sref-active="active">
                        <a ui-sref="root.early">
                            Early signup
                        </a>
                    </li>
                    <li><a href="">Quiénes somos</a></li>
                    <li ui-sref-active="active">
                        <a ui-sref="root.teachersSearch">
                            Buscar profesores
                        </a>
                    </li>

                    <!-- Logged in buttons -->
                <span ng-show="vm.isAuthenticated()">
                    <li ui-sref-active="active"
                        ng-cloak>
                        <a ui-sref="root.account.user">
                            <i class="material-icons left">account_circle</i>
                            {{ vm.getCurrentUser().firstName}}
                        </a>
                    </li>
                    <li>
                        <!-- TODO: Replace click with ui-sref -->
                        <a href="" ng-click="vm.logout()">Salir</a>
                    </li>
                </span>

                    <!-- Logged out buttons -->
                <span ng-show="!vm.isAuthenticated()">

                  <li>
                      <a ui-sref="root.register.method({target: 'teacher'})"
                         ng-click="isCollapsed = true">
                          Quiero enseñar
                      </a>
                  </li>
                  <li>
                      <a ui-sref="root.login"
                         ng-click="isCollapsed = true">
                          <a id="log-in" class="waves-effect waves-light full-width center-align" ui-sref="root.login"
                             ng-click="isCollapsed = true">INICIAR SESIÓN
                          </a>
                  </li>
                </span>
                </ul>

            </div>
        </nav>
    </div>

    <header class="center-align">
        <div class="row">
            <h1 id="main-title" class="white-text">Andá a particular hoy... ¡Festejá
                mañana!</h1>
        </div>
        <div id="draw" class="row">
            <img src="/images/draw.jpg" class="responsive-img" alt=""/>
        </div>
        <div class="row no-margin-row ">
            <form ng-submit="vm.homeSearch()" class="text-center container">
                <div class="row form-group">
                    <!-- Subject (with level) -->
                    <div class="col s6 m4 l4 main-browser">
                        <ui-select ng-model="vm.searchCriteria.subject">
                            <ui-select-match placeholder="Elija una asignatura...">{{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices
                                repeat="subject in vm.subjects | filter: {name:$select.search}:vm.removeAccents">
                                <div ng-bind-html="subject.name | highlight: $select.search"></div>
                                <div ng-bind-html="subject.level | level"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!-- City -->
                    <div class="col s6 m4 l4 main-browser">
                        <ui-select ng-model="vm.searchCriteria.city">
                            <ui-select-match placeholder="Elija una ciudad...">{{ $select.selected | city }}
                            </ui-select-match>
                            <ui-select-choices
                                repeat="city in vm.cities">
                                <div ng-bind-html="city | city | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!-- Search teacher button -->
                    <div class="col s12 m4 l4 text-center main-browser">
                        <button type="submit"
                                class="waves-effect waves-light btn-large white-text amber">
                            <i class="fa fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row container no-margin-row ">
            <div class="col-sm-12 center-align"><a href="#how-it-works"><i id="angle-down"
                                                                           class="fa fa-angle-down fa-4x white-text"></i></a>
            </div>
        </div>
    </header>
</div>


<div class="home-container">
    <div id="how-it-works" class="row">
        <h1 class="center-align grey-text text-darken-4"><b>CÓMO FUNCIONA</b></h1>

        <div class="row container no-margin-row">
            <div id="tabs" class="col s12 m6 offset-m3">
                <ul tabs class="tabs transparent">
                    <li class="tab col s6"><a class="active tab-text" href="#student">Soy Alumno</a></li>
                    <li class="tab col s6"><a class="  tab-text" href="#teacher">Soy Profesor</a></li>
                </ul>
            </div>
        </div>
        <div class="row container">
            <div id="student" class="col s12 tab-top-border">
                <div class="row center-align content-tabs">
                    <img class="responsive-img  gif-border" src="images/como-funciona.gif" alt="Cómo buscar profesor"/>
                </div>
            </div>
            <div id="teacher" class="col s12 tab-top-border">
                <div class="row center-align content-tabs">
                    <img class="responsive-img  gif-border" src="images/como-funciona.gif"
                         alt="Cómo promocionar mis clases"/>
                </div>
            </div>
        </div>
    </div>


    <div id="comments" class="text-white">
        <div class="row no-margin-row">
            <div class="col s12">
                <div class="col s12 m12 l6">
                    <div class="col s12 m5 l5">
                        <img src="/images/coco.png" class="circle responsive-img z-depth-2 img-comments" alt="Coco"/>
                    </div>
                    <div class="col s12 m7 l7 grey-text text-darken-2 z-depth-3 ballooncomment">
                        <div class="row"><i>"No sabía lo que era estar de vacaciones en Febrero hasta que descubrí esta
                            página,
                            ¡Totalmente recomendable!"</i></div>
                        <div class="row right-align grey-text text-darken-4 right-align no-margin-row"><b>COCO</b>,
                            estudiante de
                            5to año.
                        </div>
                    </div>
                </div>

                <div id="mobiledivisioncomments" class="col s12 m12 l6">
                    <div class="col s12 m5 l5">
                        <img src="/images/roberto.png" class="circle responsive-img z-depth-2 img-comments"
                             alt="Roberto"/>
                    </div>
                    <div class="col s12 m7 l7 grey-text text-darken-2 z-depth-3 ballooncomment">
                        <div class="row"><i>"Está piola pero tampoco exageremos, ¡Coco chupamedias!"</i></div>
                        <div class="row right-align grey-text text-darken-4 right-align no-margin-row"><b>ROBERTO</b>,
                            2do año Lic.
                            en Economía.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ready" class="row container">
        <div class="col s12 center-align">
            <h1><b>¿ESTÁS LISTO?</b></h1>
        </div>
        <div id="paddingapprovebutton" class="col s12 m8 offset-m2 l5 offset-l1">
            <a class="waves-effect waves-light btn-large white full-width amber-text reversebutton">QUIERO APROBAR</a>
        </div>
        <div class="col s12 m8 offset-m2 l5">
            <a class="waves-effect waves-light btn-large amber full-width">QUIERO ENSEÑAR</a>
        </div>
    </div>
    <div id="faq">
        <a class="btn-floating btn-large waves-effect waves-light amber"><img id="faqs" src="/images/faqs.png"
                                                                              class="responsive-img" alt="faq"/></a>
    </div>
</div>
</div>
