<div class="" ng-controller="MainController as vm">
    <div class="container text-center">

        <!-- Fisrt page -->
        <!-- TODO: Not working in mobile, because of content being big -->
        <div class="full-height">
            <h1>Anda a particular hoy, ¡festejá mañana!</h1>

            <p class="lead">En este sitio podrá encontrar sencillamente las clases que necesita, o bien publicar las
                clases
                que
                dicta. </p>


            <!-- TODO: Not working in mobile  -->
            <form action="" ng-submit="vm.homeSearch()" class="text-center">
                <div class="form-group row">

                    <!-- Subject (with level) -->
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="control-label"><h4>Asignatura</h4></label>
                        <ui-select ng-model="vm.searchCriteria.subject" theme="bootstrap">
                            <ui-select-match placeholder="Elija una asignatura...">{{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="subject in vm.subjects | filter: {name:$select.search}:vm.removeAccents">
                                <!-- TODO: Add filter for choices -->
                                <div ng-bind-html="subject.name | highlight: $select.search"></div>
                                <div ng-bind-html="subject.level | level"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <!-- City -->
                    <div class="col-sm-4">
                        <label class="control-label"><h4>Localidad</h4></label>
                        <ui-select ng-model="vm.searchCriteria.city" theme="bootstrap">
                            <ui-select-match placeholder="Elija una ciudad...">{{ $select.selected | city }}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="city in vm.cities">
                                <div ng-bind-html="city | city | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>


                </div>

                <!-- Search teacher button -->
                <div class="row">
                    <div class="col-sm-12 text-center">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-search"></i> Buscar
                            profesores
                        </button>
                    </span>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-sm-3 center-block">
                    <h1><i class="fa fa-angle-double-down"></i></h1>
                </div>
            </div>
        </div>

        <!-- Second page -->
        <div class="panel panel-body full-height">
            <h2>¿Cómo funciona?</h2>

            <!-- TODO: Center tabs! -->
            <tabset>
                <tab heading="Soy alumno">
                    <div class="col-sm-3">
                        <h1><i class="fa fa-search"></i></h1>
                        Buscá
                    </div>
                    <div class="col-sm-3">
                        <h1><i class="fa fa-puzzle-piece"></i></h1>
                        Encontrá
                    </div>
                    <div class="col-sm-3">
                        <h1><i class="fa fa-phone"></i></h1>
                        Llamá
                    </div>
                    <div class="col-sm-3">
                        <h1><i class="fa fa-flag-checkered"></i></h1>
                        Aprobá
                    </div>
                </tab>
                <tab heading="Soy profesor">

                </tab>
            </tabset>
        </div>
    </div>
</div>
