.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    /* This fixes vertical scroll bar to avoid page displacement
       when changing from a shorter to a larger view */
    overflow-y: scroll;
}

html, body {
    padding: 0;
    font-weight: 300;
    color: #000;

    /* This hides horizontal scroll bar */
    overflow-x: hidden;

    background: #F4F4F4;
    font-family: 'Roboto', sans-serif;

    /* TODO: Hack to avoid scroll bars in search */
    min-height: 100vh;
}

/* This class is used in all views except home */
.body-margin {
    margin-top: 55px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

/* TODO: Put in differnt file according to some policy */

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Extends bootstrap center-block */
.center-block {
    float: none;
}

/* TODO: Move to specific directive or view folder */

.tab-content {
    margin: 30px;
}

.teachers-panel:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #a4a4a4;
}

.filter-row {
    margin-bottom: 10px;
}

.filter-icon {
    font-size: 1.4rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.filter-description {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 0;
    line-height: normal;
}

.filter-panel {
    padding: 0 !important;
}

.feature-container {
    border-right: 1px solid #EEE;
}

.teacher-bookmark {
    padding-right: 10px;
    margin-top: -5px;
    cursor: pointer;
}

.brand-logo {
    text-transform: uppercase;
}

.card.filter-card {
    overflow: visible;
}

/* To remove the column padding */
.container-fluid .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row.search,
.col.search {
    margin: 0;
    padding: 0;
}

.card.search {
    margin: 0.5rem;
}

.col.search.stacked {
    margin-bottom: 1rem;
}

.search-container {
    padding: 0.5rem;
}

/* Fix angular-materialize padding in input-field's label */
.input-field label {
    left: 0;
}

/* Fix active nav link not being hightlighted */
nav ul li.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.muted-text {
    color: #c6c6c6;
}

/* Grid extended */
@media only screen and (max-width: 600px) {
    .row .col.c20s1 {
        width: 5%;
        margin-left: 0;
    }

    .row .col.c20s2 {
        width: 10%;
        margin-left: 0;
    }

    .row .col.c20s3 {
        width: 15%;
        margin-left: 0;
    }

    .row .col.c20s4 {
        width: 20%;
        margin-left: 0;
    }

    .row .col.c20s5 {
        width: 25%;
        margin-left: 0;
    }

    .row .col.c20s6 {
        width: 30%;
        margin-left: 0;
    }

    .row .col.c20s7 {
        width: 35%;
        margin-left: 0;
    }

    .row .col.c20s8 {
        width: 40%;
        margin-left: 0;
    }

    .row .col.c20s9 {
        width: 45%;
        margin-left: 0;
    }

    .row .col.c20s10 {
        width: 50%;
        margin-left: 0;
    }

    .row .col.c20s11 {
        width: 55%;
        margin-left: 0;
    }

    .row .col.c20s12 {
        width: 60%;
        margin-left: 0;
    }

    .row .col.c20s13 {
        width: 65%;
        margin-left: 0;
    }

    .row .col.c20s14 {
        width: 70%;
        margin-left: 0;
    }

    .row .col.c20s15 {
        width: 75%;
        margin-left: 0;
    }

    .row .col.c20s16 {
        width: 80%;
        margin-left: 0;
    }

    .row .col.c20s17 {
        width: 85%;
        margin-left: 0;
    }

    .row .col.c20s18 {
        width: 90%;
        margin-left: 0;
    }

    .row .col.c20s19 {
        width: 95%;
        margin-left: 0;
    }

    .row .col.c20s20 {
        width: 100%;
        margin-left: 0;
    }

    .row .col.offset.c20s1 {
        margin-left: 5%;
    }

    .row .col.offset.c20s2 {
        margin-left: 10%;
    }

    .row .col.offset.c20s3 {
        margin-left: 15%;
    }

    .row .col.offset.c20s4 {
        margin-left: 20%;
    }

    .row .col.offset.c20s5 {
        margin-left: 25%;
    }

    .row .col.offset.c20s6 {
        margin-left: 30%;
    }

    .row .col.offset.c20s7 {
        margin-left: 35%;
    }

    .row .col.offset.c20s8 {
        margin-left: 40%;
    }

    .row .col.offset.c20s9 {
        margin-left: 45%;
    }

    .row .col.offset.c20s10 {
        margin-left: 50%;
    }

    .row .col.offset.c20s11 {
        margin-left: 55%;
    }

    .row .col.offset.c20s12 {
        margin-left: 60%;
    }

    .row .col.offset.c20s13 {
        margin-left: 65%;
    }

    .row .col.offset.c20s14 {
        margin-left: 70%;
    }

    .row .col.offset.c20s15 {
        margin-left: 75%;
    }

    .row .col.offset.c20s16 {
        margin-left: 80%;
    }

    .row .col.offset.c20s17 {
        margin-left: 85%;
    }

    .row .col.offset.c20s18 {
        margin-left: 90%;
    }

    .row .col.offset.c20s19 {
        margin-left: 95%;
    }

    .row .col.offset.c20s20 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .row .col.c20m1 {
        width: 5%;
        margin-left: 0;
    }

    .row .col.c20m2 {
        width: 10%;
        margin-left: 0;
    }

    .row .col.c20m3 {
        width: 15%;
        margin-left: 0;
    }

    .row .col.c20m4 {
        width: 20%;
        margin-left: 0;
    }

    .row .col.c20m5 {
        width: 25%;
        margin-left: 0;
    }

    .row .col.c20m6 {
        width: 30%;
        margin-left: 0;
    }

    .row .col.c20m7 {
        width: 35%;
        margin-left: 0;
    }

    .row .col.c20m8 {
        width: 40%;
        margin-left: 0;
    }

    .row .col.c20m9 {
        width: 45%;
        margin-left: 0;
    }

    .row .col.c20m10 {
        width: 50%;
        margin-left: 0;
    }

    .row .col.c20m11 {
        width: 55%;
        margin-left: 0;
    }

    .row .col.c20m12 {
        width: 60%;
        margin-left: 0;
    }

    .row .col.c20m13 {
        width: 65%;
        margin-left: 0;
    }

    .row .col.c20m14 {
        width: 70%;
        margin-left: 0;
    }

    .row .col.c20m15 {
        width: 75%;
        margin-left: 0;
    }

    .row .col.c20m16 {
        width: 80%;
        margin-left: 0;
    }

    .row .col.c20m17 {
        width: 85%;
        margin-left: 0;
    }

    .row .col.c20m18 {
        width: 90%;
        margin-left: 0;
    }

    .row .col.c20m19 {
        width: 95%;
        margin-left: 0;
    }

    .row .col.c20m20 {
        width: 100%;
        margin-left: 0;
    }

    .row .col.offset.c20m1 {
        margin-left: 5%;
    }

    .row .col.offset.c20m2 {
        margin-left: 10%;
    }

    .row .col.offset.c20m3 {
        margin-left: 15%;
    }

    .row .col.offset.c20m4 {
        margin-left: 20%;
    }

    .row .col.offset.c20m5 {
        margin-left: 25%;
    }

    .row .col.offset.c20m6 {
        margin-left: 30%;
    }

    .row .col.offset.c20m7 {
        margin-left: 35%;
    }

    .row .col.offset.c20m8 {
        margin-left: 40%;
    }

    .row .col.offset.c20m9 {
        margin-left: 45%;
    }

    .row .col.offset.c20m10 {
        margin-left: 50%;
    }

    .row .col.offset.c20m11 {
        margin-left: 55%;
    }

    .row .col.offset.c20m12 {
        margin-left: 60%;
    }

    .row .col.offset.c20m13 {
        margin-left: 65%;
    }

    .row .col.offset.c20m14 {
        margin-left: 70%;
    }

    .row .col.offset.c20m15 {
        margin-left: 75%;
    }

    .row .col.offset.c20m16 {
        margin-left: 80%;
    }

    .row .col.offset.c20m17 {
        margin-left: 85%;
    }

    .row .col.offset.c20m18 {
        margin-left: 90%;
    }

    .row .col.offset.c20m19 {
        margin-left: 95%;
    }

    .row .col.offset.c20m20 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 993px) {
    .row .col.c20l1 {
        width: 5%;
        margin-left: 0;
    }

    .row .col.c20l2 {
        width: 10%;
        margin-left: 0;
    }

    .row .col.c20l3 {
        width: 15%;
        margin-left: 0;
    }

    .row .col.c20l4 {
        width: 20%;
        margin-left: 0;
    }

    .row .col.c20l5 {
        width: 25%;
        margin-left: 0;
    }

    .row .col.c20l6 {
        width: 30%;
        margin-left: 0;
    }

    .row .col.c20l7 {
        width: 35%;
        margin-left: 0;
    }

    .row .col.c20l8 {
        width: 40%;
        margin-left: 0;
    }

    .row .col.c20l9 {
        width: 45%;
        margin-left: 0;
    }

    .row .col.c20l10 {
        width: 50%;
        margin-left: 0;
    }

    .row .col.c20l11 {
        width: 55%;
        margin-left: 0;
    }

    .row .col.c20l12 {
        width: 60%;
        margin-left: 0;
    }

    .row .col.c20l13 {
        width: 65%;
        margin-left: 0;
    }

    .row .col.c20l14 {
        width: 70%;
        margin-left: 0;
    }

    .row .col.c20l15 {
        width: 75%;
        margin-left: 0;
    }

    .row .col.c20l16 {
        width: 80%;
        margin-left: 0;
    }

    .row .col.c20l17 {
        width: 85%;
        margin-left: 0;
    }

    .row .col.c20l18 {
        width: 90%;
        margin-left: 0;
    }

    .row .col.c20l19 {
        width: 95%;
        margin-left: 0;
    }

    .row .col.c20l20 {
        width: 100%;
        margin-left: 0;
    }

    .row .col.offset.c20l1 {
        margin-left: 5%;
    }

    .row .col.offset.c20l2 {
        margin-left: 10%;
    }

    .row .col.offset.c20l3 {
        margin-left: 15%;
    }

    .row .col.offset.c20l4 {
        margin-left: 20%;
    }

    .row .col.offset.c20l5 {
        margin-left: 25%;
    }

    .row .col.offset.c20l6 {
        margin-left: 30%;
    }

    .row .col.offset.c20l7 {
        margin-left: 35%;
    }

    .row .col.offset.c20l8 {
        margin-left: 40%;
    }

    .row .col.offset.c20l9 {
        margin-left: 45%;
    }

    .row .col.offset.c20l10 {
        margin-left: 50%;
    }

    .row .col.offset.c20l11 {
        margin-left: 55%;
    }

    .row .col.offset.c20l12 {
        margin-left: 60%;
    }

    .row .col.offset.c20l13 {
        margin-left: 65%;
    }

    .row .col.offset.c20l14 {
        margin-left: 70%;
    }

    .row .col.offset.c20l15 {
        margin-left: 75%;
    }

    .row .col.offset.c20l16 {
        margin-left: 80%;
    }

    .row .col.offset.c20l17 {
        margin-left: 85%;
    }

    .row .col.offset.c20l18 {
        margin-left: 90%;
    }

    .row .col.offset.c20l19 {
        margin-left: 95%;
    }

    .row .col.offset.c20l20 {
        margin-left: 100%;
    }
}