.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    padding: 0;
    font-weight: 300;
    color: #000;

    /* This hides horizontal scroll bar */
    overflow-x: hidden;
    overflow-y: auto;

    background: #F4F4F4;
    font-family: 'Roboto', sans-serif;

    /* TODO: Hack to avoid scroll bars in search */
    min-height: 100vh;
}

/* This class is used in all views except home */
.body-margin {
    margin-top: 55px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

/* TODO: Put in differnt file according to some policy */

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Extends bootstrap center-block */
.center-block {
    float: none;
}

/* TODO: Move to specific directive or view folder */

.tab-content {
    margin: 30px;
}

.teachers-panel:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #a4a4a4;
}

.filter-row {
    margin-bottom: 10px;
}

.filter-icon {
    font-size: 1.4rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.filter-description {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 0;
    line-height: normal;
}

.filter-panel {
    padding: 0 !important;
}

.feature-container {
    border-right: 1px solid #EEE;
}

.teacher-bookmark {
    padding-right: 10px;
    margin-top: -5px;
    cursor: pointer;
}

.brand-logo {
    text-transform: uppercase;
}

.card.filter-card {
    overflow: visible;
}

/* To remove the column padding */
.container-fluid .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row.search,
.col.search {
    margin: 0;
    padding: 0;
}

.card.search {
    margin: 0.5rem;
}

.col.search.stacked {
    margin-bottom: 1rem;
}

.search-container {
    padding: 0.5rem;
}

/* Fix angular-materialize padding in input-field's label */
.input-field label {
    left: 0;
}

/* Fix active nav link not being hightlighted */
nav ul li.active {
    background-color: rgba(0, 0, 0, 0.1);
}