.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    padding: 0;
    min-height: 100%;

    /* This hides horizontal scroll bar */
    overflow-x: hidden;
    overflow-y: auto;

    background: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}

/* This class is used in all views except home */
.body-margin {
    margin-top: 55px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

/* TODO: Put in differnt file according to some policy */

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Extends bootstrap center-block */
.center-block {
    float: none;
}

/* TODO: Move to specific directive or view folder */

.tab-content {
    margin: 30px;
}

.teachers-panel:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #a4a4a4;
}

.filter-row {
    margin-bottom: 10px;
}

.filter-icon {
    font-size: 24px;
    cursor: pointer;
}

.filter-panel {
    padding: 0 !important;
}

.feature-container {
    border-right: 1px solid #EEE;
}

.teacher-bookmark {
    padding-right: 10px;
    margin-top: -5px;
}