<div class="container">

    <div class="row">
        <div class="col s12">
            <teacher-result ng-model="vm.teacher"></teacher-result>
        </div>

        <div class="col s12 card">
            <!-- Professional information -->
            <div class="row">

                <!-- First column -->
                <div class="col s8">

                    <!-- First row -->
                    <div class="row">

                        <!-- Degree -->
                        <div class="col s4" input-field>
                            <select id="degree"
                                    ng-model="vm.teacher.degree"
                                    material-select
                                    watch>
                                <option value="" disabled selected>Elija sus estudios...</option>
                                <option ng-repeat="degree in vm.degrees" ng-value="degree">{{ degree | degree }}
                                </option>
                            </select>
                            <label for="degree">Mis estudios</label>
                        </div>

                        <!-- Phone -->
                        <div class="col s3">
                            <div class="input-field">
                                <label for="phone">Teléfono</label>
                                <input id="phone" type="text" ng-model="vm.teacher.phone.number"
                                       placeholder="2914356546">
                            </div>
                        </div>

                        <!-- Whatsapp -->
                        <div class="col s3">
                            <label for="whatsapp" class="text-center"><i class="fa fa-whatsapp"></i> Whatsapp</label>

                            <div class="center">
                                <input id="whatsapp" type="checkbox" ng-model="vm.teacher.phone.whatsApp">
                                <label for="whatsapp"></label>
                            </div>
                        </div>

                        <!-- SMS -->
                        <div class="col s2">
                            <label for="sms" class="text-center"><i class="fa fa-sms"></i> SMS</label>

                            <div class="center">
                                <input id="sms" type="checkbox" ng-model="vm.teacher.phone.sms">
                                <label for="sms"></label>
                            </div>
                        </div>
                    </div>

                    <!-- Second row -->
                    <div class="row">

                        <!-- Subjects -->
                        <div class="col s9">
                            <label>Materias que dicto</label>

                            <div ng-repeat="subject in vm.subjects">
                                <input id="subject{{ $index }}" type="checkbox" ng-model="subject.selected">
                                <label for="subject{{ $index }}">{{ subject.name }}</label>
                            </div>
                        </div>

                        <!-- Fee -->
                        <div class="col s3">
                            <label>Precio</label>

                            <span>$</span>
                            <input placeholder="80" type="number" min="0"
                                   ng-model="vm.teacher.fee">
                        </div>

                        <!-- Class details -->
                        <div class="col s12">
                            <label for="details">Detalles de las clases</label>

                            <div id="details">
                                <input id="groupLessons"
                                       type="checkbox"
                                       ng-model="vm.teacher.groupLessons">
                                <label for="groupLessons"> Grupales</label>

                                <input id="individualLessons"
                                       type="checkbox"
                                       ng-model="vm.teacher.individualLessons">
                                <label for="individualLessons"> Individuales</label>

                                <input id="homeLessons"
                                       type="checkbox"
                                       ng-model="vm.teacher.homeLessons">
                                <label for="homeLessons"> A domicilio</label>
                            </div>
                        </div>

                        <!-- Schedule -->
                        <div class="col s12">
                            <label for="schedule">Horarios</label>

                            <div id="schedule">
                                <input id="morning"
                                       type="checkbox"
                                       ng-model="vm.teacher.schedule.morning">
                                <label for="morning"> Mañana</label>

                                <input id="afternoon"
                                       type="checkbox"
                                       ng-model="vm.teacher.schedule.afternoon">
                                <label for="afternoon"> Tarde</label>

                                <input id="night"
                                       type="checkbox"
                                       ng-model="vm.teacher.schedule.night">
                                <label for="night"> Noche</label>
                            </div>
                        </div>
                    </div>

                    <!-- Third row -->
                    <div class="row">
                        <div class="col s12">
                            <label for="description">Mi descripción</label>
                            <!-- TODO: Check description length -->
                        <textarea id="description"
                                  class="materialize-textarea"
                                  ng-model="vm.teacher.description"
                                  placeholder="Escriba una breve descripción sobre usted">
                        </textarea>
                        </div>
                    </div>
                </div>

                <!-- Second column -->
                <div class="col s4">
                    <label>Ubicación</label>

                    <div>
                        <input places-auto-complete="" size="" ng-model="address" types="['address']"
                               on-place-changed="vm.placeChanged(place)" class="ng-pristine ng-valid"
                               placeholder="Ingrese su ubicación..." autocomplete="on">

                        {{ vm.teacher.location }}
                        <p>{{ vm.formattedAddress }}</p>
                        <img class="responsive-img"
                             src="https://maps.googleapis.com/maps/api/staticmap?size=300x300&maptype=roadmap&markers={{ vm.teacher.location.latitude }},{{ vm.teacher.location.longitude }}"/>
                    </div>
                </div>

                <!-- Second row -->
                <div class="row">
                    <div class="col s12">
                        <a ng-click="vm.signupTeacher()" class="btn right">Finalizar</a>
                    </div>
                </div>
                {{ vm.subjects }}
            </div>
        </div>
    </div>
</div>