<div class="email-validation container">

    <div class="card">

        <!-- Message -->
        <div class="row ">
            <div class="col s12">
            <div ng-if="vm.working">
                <p class="center-align text-normal">Estamos verificando tu cuenta de mail, danos unos segundos...</p>
            </div>
            </div>
            <div class="col s12">
            <div ng-if="!vm.working">
                <p class="center-align text-normal">¡Listo! Ahora podes volver a la pestaña anterior y seguir con el
                    proceso de registración..</p>

                <p class="center-align">Si la cerraste, hace click <a href="">acá</a>.</p>
            </div>
            </div>
        </div>
            <!-- Waiting spinner -->
        <div class="row">
            <div class="col s12">
            <div class="center" ng-if="vm.working">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-yellow-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>
