/*
    This file includes helper classes that define a
    presentational property.
    Ex:
    .full-width {
        width: 100%
    }
*/

.text-white {
    color: white;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-height-vh {
    /* TODO: This is not fully compatible with most browsers */
    height: 100vh;
}

.invisible {
    visibility: hidden;
}

.little-padding {
    /* Remove unnecessary padding */
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.no-margin {
    margin-top: 0;
}

.tabs .tab a {
    color: #424242;
}

.tabs .tab a:hover {
    color: grey;
}

a {
    color: #ffc107;
}

.hand-pointer {
    cursor: pointer;
}

.no-margin-row {
    margin-bottom: 0px;
}

.reversebutton {
    border: 2px solid #ffc107;
}

.btn-large {
    font-size: 1.1rem;
}

.overflow-visible {
    overflow: visible;
}