<div class="" ng-if="vm.teacher">

    <!-- Description and rating -->
    <div class="row">

        <!-- Description -->
        <div class="col s8">
            <span editable-text="vm.teacher.description" e-required e-form="descriptionForm">
                {{ vm.teacher.description }}
            </span>

            <form editable-form name="descriptionForm" onaftersave="vm.saveTeacher()"
                  ng-show="descriptionForm.$visible">
                <button type="submit" ng-disabled="descriptionForm.$waiting" class="btn-flat">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button" ng-disabled="descriptionForm.$waiting"
                        ng-click="descriptionForm.$cancel()"
                        class="btn-flat">
                    <i class="fa fa-close"></i>
                </button>
            </form>
            <button class="btn-flat" ng-click="descriptionForm.$show()"
                    ng-hide="descriptionForm.$visible">
                <i class="fa fa-pencil"></i>
            </button>
        </div>

        <!-- Rating -->
        <div class="col s4">
            <rating ng-model="vm.teacher.averageRating"
                    class="orange-text"
                    readonly="true">
            </rating>
        </div>
    </div>

    <!-- Degree -->
    <div class="row">
        <div class="col s12">
            <degree-icon ng-model="vm.teacher.degree"></degree-icon>
            <span editable-select="vm.teacher.degree"
                  e-ng-options="degreeValue | degree for degreeValue in vm.degreesNames"
                  e-form="degreeForm">
                {{ vm.teacher.degree | degree }}
            </span>

            <form editable-form name="degreeForm"
                  onaftersave="vm.saveTeacher()"
                  ng-show="degreeForm.$visible">
                <button type="submit" ng-disabled="degreeForm.$waiting" class="btn-flat">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button" ng-disabled="degreeForm.$waiting" ng-click="degreeForm.$cancel()"
                        class="btn-flat">
                    <i class="fa fa-close"></i>
                </button>
            </form>
            <button class="btn-flat " ng-click="degreeForm.$show()" ng-hide="degreeForm.$visible">
                <i class="fa fa-pencil"></i>
            </button>
        </div>
    </div>

    <!-- Classes -->
    <div class="row">
        <div class="col s12">
            <h5>Clases</h5>

            <p>
                Precio: $ {{ vm.teacher.fee }}
            </p>
            <input id="groupLessons"
                   type="checkbox"
                   ng-change="vm.saveTeacher()"
                   ng-model="vm.teacher.groupLessons">
            <label for="groupLessons"> Grupales</label>

            <input id="individualLessons"
                   type="checkbox"
                   ng-change="vm.saveTeacher()"
                   ng-model="vm.teacher.individualLessons">
            <label for="individualLessons"> Individuales</label>

            <input id="homeLessons"
                   type="checkbox"
                   ng-change="vm.saveTeacher()"
                   ng-model="vm.teacher.homeLessons">
            <label for="homeLessons"> A domicilio</label>

        </div>
    </div>

    <!-- Schedule -->
    <div class="col s12">
        <h5>Horarios</h5>

        <div id="schedule">
            <input id="morning"
                   type="checkbox"
                   ng-change="vm.saveTeacher()"
                   ng-model="vm.teacher.schedule.morning">
            <label for="morning"> Mañana</label>

            <input id="afternoon"
                   type="checkbox"
                   ng-change="vm.saveTeacher()"
                   ng-model="vm.teacher.schedule.afternoon">
            <label for="afternoon"> Tarde</label>

            <input id="night"
                   type="checkbox"
                   ng-change="vm.saveTeacher()"
                   ng-model="vm.teacher.schedule.night">
            <label for="night"> Noche</label>
        </div>
    </div>

    <!-- Phone -->
    <div class="row">
        <div class="col s12">
            <h5>Teléfono</h5>
            <span editable-text="vm.teacher.phone.number" e-required e-form="phoneNumberPhone">
                {{ vm.teacher.phone.number }}
            </span>

            <form editable-form name="phoneNumberPhone" onaftersave="vm.saveTeacher()"
                  ng-show="phoneNumberPhone.$visible">
                <button type="submit" ng-disabled="phoneNumberPhone.$waiting" class="btn-flat">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button" ng-disabled="phoneNumberPhone.$waiting"
                        ng-click="phoneNumberPhone.$cancel()"
                        class="btn-flat">
                    <i class="fa fa-close"></i>
                </button>
            </form>
            <button class="btn-flat"
                    ng-click="phoneNumberPhone.$show()"
                    ng-hide="phoneNumberPhone.$visible">
                <i class="fa fa-pencil"></i>
            </button>

            <input id="hasWatsapp"
                   type="checkbox"
                   ng-change="vm.saveTeacher()"
                   ng-model="vm.teacher.phone.whatsApp">
            <label for="hasWatsapp"> Tengo WhatsApp</label>
        </div>
    </div>

    <!-- Subjects -->
    <div class="row">
        <div class="col s12">
            <h5>Materias que dicto</h5>

            <div class="col s3"
                 ng-repeat="subject in vm.teacher.subjects">
                <subject ng-model="subject"></subject>
            </div>
        </div>
    </div>

    <!-- Location -->
    <div class="row">
        <div class="col s12">
            <h5>Dirección</h5>
            {{ vm.teacher.location }}

            <input places-auto-complete="" size="80" ng-model="address" types="['address']"
                   on-place-changed="vm.placeChanged(place)" class="ng-pristine ng-valid"
                   placeholder="Ingrese su ubicación..." autocomplete="on">
            {{ address }}
            <p>{{ vm.formattedAddress }}</p>
            <img class="responsive-img"
                 src="https://maps.googleapis.com/maps/api/staticmap?size=300x300&maptype=roadmap&markers={{ vm.teacher.location.latitude }},{{ vm.teacher.location.longitude }}"/>
        </div>
    </div>

    <!-- Reseñas -->
    <div class="row">
        <div class="col s12">
            <h5>Opiniones</h5>
            <review ng-model="review" ng-repeat="review in vm.reviews">
            </review>
            <div ng-if="!vm.reviews.length">
                Aún no has recibido reseñas
            </div>
        </div>
    </div>
</div>
<div class="" ng-if="!vm.teacher">
    <a class="btn" ui-sref="root.signup.teacher">Crear perfil de profesor</a>
</div>