<div class=".home-header navbar-fixed ">
    <nav class="amber">
        <div class="nav-wrapper container">
            <a ui-sref="root.home" class="brand-logo left">La sala</a>
            <a data-activates="mobile-demo" data-sidenav="left" data-closeonclick="true" class="button-collapse">
                <i class="mdi-navigation-menu"></i>
            </a>
            <ul class="side-nav" id="mobile-demo">

                <li ui-sref-active="active">
                    <a ui-sref="root.teachersSearch">
                        Buscar profesores
                    </a>
                </li>

                <!-- Logged in buttons -->
                <span ng-show="vm.isAuthenticated()">
                    <li ui-sref-active="active"
                        ng-cloak>
                        <a ui-sref="root.account.user"><i
                            class="material-icons left">account_circle</i>
                            {{ vm.getCurrentUser().firstName}}
                        </a>
                    </li>
                    <li>
                        <!-- TODO: Replace click with ui-sref -->
                        <a href="" ng-click="vm.logout()">Salir</a>
                    </li>
                </span>

                <!-- Logged out buttons -->
                <span ng-show="!vm.isAuthenticated()">
                    <li ui-sref-active="active">
                        <a ui-sref="root.login"
                           ng-click="isCollapsed = true">
                            Iniciar sesión
                        </a>
                    </li>
                    <li>

                        <a ui-sref="root.signup.method({ target: 'teacher' })"
                           ng-click="isCollapsed = true">
                            Quiero enseñar
                        </a>
                    </li>
                    <li>

                        <a ui-sref="root.signup.method({ target: 'student' })"
                           ng-click="isCollapsed = true">
                            Quiero aprender
                        </a>
                    </li>
                </span>
            </ul>

            <ul class="right hide-on-med-and-down">

                <li ui-sref-active="active">
                    <a ui-sref="root.teachersSearch">
                        Buscar profesores
                    </a>
                </li>

                <!-- Logged in buttons -->
                <span ng-show="vm.isAuthenticated()">
                    <li ui-sref-active="active"
                        ng-cloak>
                        <a ui-sref="root.account.user">
                            <i class="material-icons left">account_circle</i>
                            {{ vm.getCurrentUser().firstName}}
                        </a>
                    </li>
                    <li>
                        <!-- TODO: Replace click with ui-sref -->
                        <a href="" ng-click="vm.logout()">Salir</a>
                    </li>
                </span>

                <!-- Logged out buttons -->
                <span ng-show="!vm.isAuthenticated()">
                    <li ui-sref-active="active">
                        <a ui-sref="root.login"
                           ng-click="isCollapsed = true">
                            Iniciar sesión
                        </a>
                    </li>
                    <li>
                        <!-- root.register.method({target: 'teacher'})" -->
                        <a ui-sref="root.signup.method({ target: 'teacher' })"
                           ng-click="isCollapsed = true">
                            Quiero enseñar
                        </a>
                    </li>
                    <li>
                        <a ui-sref="root.signup.method({ target: 'student' })"
                           ng-click="isCollapsed = true">
                            Quiero aprender
                        </a>
                    </li>
                </span>
            </ul>

        </div>
    </nav>
</div>
