@media (max-width: 992px) {
    .early-signup h1 {
        font-size: 2.5rem;
    }
}

.early-signup #box-register {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem 4rem 2rem 4rem;
}

@media (max-width: 600px) {
    .early-signup #box-register {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2rem 1rem 2rem 1rem;
    }
}

.early-signup #nav-title {
    font-family: 'Love Ya Like A Sister', cursive;
}

.early-signup h5 {
    color: white;
    font-size: 1.8rem;
}

.early-signup #background-img {
    background: url(/images/background-earlysignup.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 93vh;
}

.early-signup .padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 600px) {
    .early-signup .padding {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
.early-signup .title-grey-h5 h5 {
    text-shadow: none;
    color: #212121;
}

.early-signup .padding-ready {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

@media (max-width: 600px) {
    .early-signup .padding-ready {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}
.early-signup #step-by-step h6 {
    font-size: 1.3rem;
    text-indent: 1rem;
    line-height: 1.8rem;
}

@media (max-width: 600px) {
    .early-signup #step-by-step {
        display: none;
    }
}

.early-signup #step-by-step-cel {
    display: none;
}

.early-signup #step-by-step-cel h6 {

    font-size: 1.1rem;
    text-indent: 0;
    line-height: 1.6rem;
}

@media (max-width: 600px) {
    .early-signup #step-by-step-cel {
        display: inline;
    }
}

.home-footer #footer-early {
    color: #4C4C4C;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    letter-spacing: 0.5rem;
    margin-left: 1rem;
}

.home-footer img {
    vertical-align: middle;
}
@media (max-width: 992px) {
    .home-footer #footer-early {
        letter-spacing: 0.2rem;
    }
}

@media (max-width: 992px) {
    .early-signup #button-link-step-by-step {
        margin-top: 1rem;
    }
}
