<div class="container-fluid">
    <div class="card hand-pointer hoverable" ng-click="goToTeacherProfile()">

        <div class="row no-margin-row valign-wrapper">
            <!-- Teacher image -->
            <div class="col s4">
                <img src="images/mock.jpg" class="responsive-img valign">
            </div>

            <!-- Teacher information -->
            <div class="col s8">

                <!-- Teacher name -->
                <div class="row no-margin-row">
                    <div class="col s12">
                        {{ teacher.user.firstName }} {{ teacher.user.lastName }}
                    </div>

                    <!-- Teacher rating -->
                    <div class="col s12">
                        <rating class="orange-text"
                                readonly="true"
                                ng-model="teacher.averageRating"></rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>