<div class="modal">
    <div class="modal-content">

        <div class="row">

            <div class="col s2">
                <img src="images/mock.jpg" class="responsive-img">
            </div>

            <div class="col s10">
                <h4>
                    Calificación de {{ vm.currentUser | fullName }}
                </h4>
            </div>
        </div>

        <div class="row">
            // TODO: Dirty hiding
            <h4 class="center" ng-if="!vm.currentTitle" style="visibility: hidden">Text</h4>
            <h4 class="center" ng-if="vm.currentTitle">{{ vm.currentTitle }}</h4>

            <h2 class="center">
                <rating class="orange-text"
                        titles="vm.titles"
                        current-title="vm.currentTitle"
                        ng-model="vm.review.rating">
                </rating>
            </h2>
            <textarea class="form-control" type="text" ng-model="vm.review.comment" maxlength="256"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn"
           ng-click="vm.modalSubmitReview()">
            Calificar
        </a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">
            Cerrar
        </a>
    </div>

</div>