
<div class="col-sm-2">
    <img src="images/mock.jpg" class="img-responsive" alt="Profile picture">
</div>

<div class="col-sm-10">

    <!-- First row -->
    <div class="form-group row">
        <div class="col-sm-4">
            <label class="control-label">Nombre</label>
            <input class="form-control" placeholder="Lionel" ng-model="vm.user.firstName" required/>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Apellido</label>
            <input class="form-control" placeholder="Messi" ng-model="vm.user.lastName" required/>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Género</label>

            <div>
                <input type="radio" ng-model="vm.user.gender" value="m"/> Hombre
                <input type="radio" ng-model="vm.user.gender" value="f"/> Mujer
            </div>
        </div>
    </div>

    <!-- Second row -->
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="control-label">Email</label>
            <input class="form-control" type="email" placeholder="lio@gmail.com" ng-model="vm.user.email" required/>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Fecha de nacimiento</label>
            <input class="form-control" type="date" ng-model="vm.user.birthDate" required/>
        </div>
    </div>

    <!-- Third row -->
    <div class="form-group row">
        <div class="col-sm-6"><label class="control-label">Contraseña</label>
            <input class="form-control" type="password" placeholder="Contraseña" ng-model="vm.user.password" required/>
        </div>
        <div class="col-sm-6">
            <label class="control-label">Confirmar contraseña</label>
            <input class="form-control" type="password" placeholder="Confirmar contraseña" required/>
        </div>
    </div>
</div>

<!-- Navigation buttons -->
<div class="form-group row">
    <div class="col-sm-12">
        <a ui-sref="register.method" class="btn btn-default">Anterior</a>
        <a ui-sref="register.{{ vm.target }}"
           class="btn btn-primary pull-right">Siguiente</a>
    </div>
</div>