.signup-about .text-normal {
    font-size: 1.4rem;
    text-indent: 1rem;
}

.signup-about #card-container {
    padding: 2rem;
}

.signup-about p {
    font-size: 1.1rem;
}

.premium-plan p {
    -webkit-margin-before: 0.7rem;
    -webkit-margin-after: 0.7rem;
}

.premium-plan #price-plan-1 {
    background-color: #82DACA;
    border-radius: 100%;
    line-height: 120px;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    color: white;
}

.premium-plan #price-plan-2 {
    background-color: #8BE4A6;
    border-radius: 100%;
    line-height: 120px;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    color: white;
}

.premium-plan #price-plan-3 {
    background-color: #EF66F3;
    border-radius: 100%;
    line-height: 120px;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    color: white;
}

.premium-plan #border-plan-1 {
    border-radius: 0.8rem 0 0 0.8rem;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.75);
}

.premium-plan #border-plan-2 {
    z-index: 1;
    border-radius: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

.premium-plan #border-plan-3 {
    border-radius: 0 0.8rem 0.8rem 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.75);
}

.premium-plan p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.premium-plan .title-plan h5 {
    line-height: 4rem;
    margin: 0;
    font-weight: 300;
}

.premium-plan #card-container-plan {
    padding: 2rem;
}

.premium-plan .s2 {
    padding: 0;
}

.premium-plan .color-title-plan-1 {
    background-color: #78CFBF;
}

.premium-plan .color-title-plan-2 {
    background-color: #78CF93;
}

.premium-plan .color-title-plan-3 {
    background-color: #CB50DC;
}

.congrats #card-container-congrats {
    padding: 2rem;
}

.congrats .font-family-special {
    font-family: 'Love Ya Like A Sister', cursive;
    letter-spacing: 0.05rem;
}
