<div class="signup-steps">
    <div ng-repeat="step in steps"
         ng-class="{ 'current-step': isCurrentStep($index), 'past-step': isPastStep($index), 'future-step': isFutureStep($index) }"
         ng-style="{ 'width': 100 / steps.length + '%' }">
        <button class="btn-floating btn">
            <i class="material-icons left"
               ng-if="isPastStep($index)">
                check
            </i>
            <i class="material-icons left"
               ng-if="isCurrentStep($index)">
                more_horiz
            </i>
        </button>

        {{ step.title }}
    </div>
</div>
