<div class="">
    <div class="row">

        <div class="col s12 m6 offset-m3">
            <div class="card">

                <!-- Favorite icon -->
                <span class="teacher-bookmark right"
                      ng-if="vm.currentUser.student && vm.currentUser.teacher !== vm.teacher.id"
                      ng-click="vm.toggleFavorite(vm.teacher)">

                    <span tooltipped data-tooltip="Agregar a favoritos">
                        <i ng-if="vm.teacher.isFavorite"
                           class="fa fa-bookmark fa-3x yellow-text text-darken-1"></i>
                        <i ng-if="!vm.teacher.isFavorite"
                           class="fa fa-bookmark-o fa-3x grey-text text-lighten-1"></i>
                    </span>
                </span>

                <div class="row">

                    <!-- User image -->
                    <div class="col s12 m3 center">
                        <img src="images/mock.jpg" class="responsive-img">
                    </div>

                    <!-- User information -->
                    <div class="col s12 m8">

                        <!-- Name and degree -->
                        <div class="row">

                            <!-- User name -->
                            <div class="col s12 m7">

                                <h4>
                                    <!-- Degree -->
                                    <degree-icon ng-model="vm.teacher.degree"></degree-icon>

                                    <!-- Username -->
                                    {{ vm.teacher.user | fullName }}
                                </h4>
                            </div>

                            <!-- Rating -->
                            <div class="col s12 m4">
                                <h5 class="right">
                                    <rating
                                        class="orange-text"
                                        ng-model="vm.teacher.averageRating"
                                        readonly="true">
                                    </rating>
                                </h5>
                            </div>

                        </div>

                        <!-- Icon bar -->
                        <div class="row">
                            <div class="col s8">
                                <h4>
                                    <teacher-features ng-model="vm.teacher"></teacher-features>
                                </h4>
                            </div>
                            <div class="col s4">
                                <h4>$ {{ vm.teacher.fee }}</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Information tabs -->
                <div class="row">

                    <!-- Tab headings -->
                    <div class="col s12">
                        <ul class="tabs" tabs>
                            <li class="tab col s4">
                                <a href="#infoTab">
                                    Información
                                </a>
                            </li>
                            <li class="tab col s4">
                                <a href="#reviewsTab">
                                    Opiniones
                                </a>
                            </li>
                            <li class="tab col s4">
                                <a href="#contactTab">
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Details tab -->
                    <div id="infoTab" class="col s12">

                        <!-- Description -->
                        <h5 class="center">{{ vm.teacher.description }}</h5>

                        <div class="divider"></div>

                        <div class="row">
                            <!-- Degree -->
                            <div class="col s6 m3 center feature-container">
                                <h3>
                                    <degree-icon ng-model="vm.teacher.degree"></degree-icon>
                                </h3>

                                <p>{{ vm.teacher.degree | degree }}</p>
                            </div>

                            <!-- Age -->
                            <div class="col s6 m3 center feature-container">
                                <h3>{{ vm.teacher.user.birthDate | age }}</h3>

                                <p>Edad</p>
                            </div>

                            <div class="clearfix hide-on-med-and-up"></div>

                            <!-- Gender -->
                            <div class="col s6 m3 center feature-container">

                                <h3>
                                    <i ng-class="vm.teacher.user.gender | genderIcon"></i>
                                </h3>

                                <p>{{ vm.teacher.user.gender | gender }}</p>
                            </div>

                            <!-- Class location -->
                            <div class="col s6 m3 center">
                                <h3>
                                    <span>
                                        <!-- Home class -->
                                        <span ng-if="vm.teacher.homeLessons">
                                            <i class="fa fa-home green-text"></i>
                                        </span>

                                        <!-- No home class -->
                                        <span ng-if="!vm.teacher.homeLessons">
                                            <i class="fa fa-home grey-text"></i>
                                        </span>
                                    </span>
                                </h3>
                                <!-- TODO: Should this be made as a filter? -->
                                <p ng-if="vm.teacher.homeLessons">A domicilio</p>

                                <p ng-if="!vm.teacher.homeLessons">No va a domicilio</p>
                            </div>
                        </div>

                        <div class="divider"></div>

                        <!-- Teacher information -->
                        <h5>Materias que dicto</h5>

                        <div class="row">
                            <div class="col s4" ng-repeat="subject in vm.teacher.subjects">
                                <subject ng-model="subject"></subject>
                            </div>
                        </div>
                    </div>

                    <!-- Reviews tab -->
                    <div id="reviewsTab" class="col s12">

                        <div ng-if="vm.currentUser.student && vm.currentUser.teacher != vm.teacher.id">
                            <h5>
                                Mi calificación
                                <button ng-if="vm.teacher.review"
                                        ng-click="vm.showReviewModal()"
                                        class="btn btn-default btn-sm"
                                        tooltipped data-tooltip="Editar"
                                        tooltip-placement="right">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </h5>
                            <review ng-if="vm.teacher.review" ng-model="vm.teacher.review"></review>
                            <div ng-if="!vm.teacher.review" class="text-center">
                                <button ng-click="vm.showReviewModal()"
                                        class="btn btn-primary btn-lg">
                                    Calificar
                                </button>
                            </div>
                            <div class="divider"></div>
                        </div>

                        <!-- Recieved reviews -->
                        <h5>Calificaciones</h5>

                        <div ng-repeat="review in vm.reviews">
                            <span ng-if="review.student.id !== vm.currentUser.student">
                                <review ng-model="review"></review>
                                <div class="divider"></div>
                            </span>
                        </div>

                        <!-- TODO: Show when teacher has only current student review -->
                        <div ng-if="!vm.reviews.length">
                            <p class="lead">¡Aún no han calificado a este profesor!</p>
                        </div>

                    </div>

                    <!-- Contact tab -->
                    <div id="contactTab" class="col s12">

                        <!-- Phone -->
                        <h4>
                            <i class="fa fa-phone blue-text fa-fw"></i>
                            <span>  {{ vm.teacher.phone.number }}  </span>
                        </h4>

                        <div class="divider"></div>

                        <!-- Email -->
                        <h4>
                            <i class="fa fa-envelope fa-fw"></i>
                            {{ vm.teacher.user.email }}
                        </h4>

                        <div class="divider"></div>

                        <!-- Location -->
                        <h4>
                            <i class="fa fa-map-marker text-danger fa-fw"></i>{{ vm.teacher.location.city | city }}
                        </h4>

                        <div class="divider"></div>

                        {{ vm.teacher.location }}

                    </div>

                </div>

            </div>
        </div>

        <div class="col m3 hide-on-small-and-down">
            <span ng-repeat="teacher in vm.relatedTeachers">
                <related-teacher ng-model="teacher"></related-teacher>
            </span>
        </div>
    </div>

</div>
