<!-- Teacher features container -->
<div>
    <!-- Individual lessons -->
    <span>

        <!-- Individual lessons -->
        <span class="fa-stack" ng-if="!teacher.individualLessons" tooltip="Clases individuales">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>

        <!-- TODO: Add "not individual classes"? -->
    </span>

    <!-- Group lessons -->
    <span>

        <!-- Group lessons -->
        <span class="fa-stack" ng-if="teacher.groupLessons" tooltip="Clases grupales">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>

    </span>

    <!-- Class location -->
    <span>
        <!-- Home class -->
        <span class="fa-stack" ng-if="teacher.homeLessons" tooltip="A domicilio">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-car fa-stack-1x fa-inverse"></i>
        </span>

        <!-- No home class -->
        <span class="fa-stack" ng-if="!teacher.homeLessons" tooltip="No va a domicilio">
            <i class="fa fa-car fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
        </span>
    </span>

    <!-- Whatsapp availability -->
    <span>
        <!-- Has whatsapp -->
        <span class="fa-stack" ng-if="teacher.phone.whatsApp" tooltip="Tiene whatsapp">
            <i class="fa fa-circle fa-stack-2x text-success"></i>
            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
        </span>

        <!-- Doesn't have whatsapp -->
        <span class="fa-stack" ng-if="!teacher.phone.whatsApp"
              tooltip="No tiene whatsapp">
            <i class="fa fa-circle fa-stack-2x text-success"></i>
            <i class="fa fa-circle fa-stack-2x text-success"></i>
            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
        </span>
    </span>
</div>