<div class="">
    <div class="card-content">

        <div class="row">
            <div class="col s8 offset-s2">

                <form novalidate
                      name="userSignupForm"
                      id="userSignupForm"
                      ng-class="vm.submittedForm ? 'submitted' : ''"
                      valdr-type="User">

                    <!-- Name -->
                    <div class="row">

                        <div class="col s12 m4 field-title">
                            ¿Cómo te llamás?
                        </div>

                        <div class="col s12 m8 field-body">
                            <div class="row no-margin-row">

                                <!-- First Name -->
                                <input-field class="col s12 m6" valdr-form-group>
                                    <input id="firstName"
                                           type="text"
                                           class="validate"
                                           name="firstName"
                                           ng-model="vm.user.firstName" required="">
                                    <label for="firstName">
                                        Nombre
                                    </label>

                                    <div ng-show="userSignupForm.$submitted || userSignupForm.firstName.$touched">
                                        <div ng-show="userSignupForm.firstName.$errors">Error</div>
                                    </div>
                                    {{ userSignupForm.$errors }}
                                </input-field>

                                <!-- Last Name -->
                                <input-field class="col s12 m6" valdr-form-group>
                                    <input type="text"
                                           id="lastName"
                                           name="lastName"
                                           class="validate"
                                           ng-model="vm.user.lastName">
                                    <label for="lastName">Apellido</label>
                                </input-field>
                            </div>
                        </div>

                    </div>

                    <!-- Gender -->
                    <div class="row">

                        <div class="col s12 m4 field-title">¿Género?</div>

                        <div class="col s12 m8 field-body radio">
                            <input-field>

                                <!-- Male -->
                                <input id="maleRadio"
                                       type="radio"
                                       name="gender"
                                       ng-model="vm.user.gender"
                                       value="male"
                                       required>
                                <label for="maleRadio">Hombre</label>

                                <!-- Female -->
                                <input id="femaleRadio"
                                       name="gender"
                                       type="radio"
                                       ng-model="vm.user.gender"
                                       value="female"
                                       required>
                                <label for="femaleRadio">Mujer</label>
                            </input-field>

                            <!-- Error message -->
                            <div class="valdr-message invalid"
                                 ng-class="userSignupForm.gender.$pristine ? 'ng-pristine' : ''"
                                 ng-if="userSignupForm.gender.$invalid">
                                Seleccioná tu género
                            </div>
                        </div>

                    </div>

                    <!-- Email -->
                    <div class="row">

                        <div class="col s12 m4 field-title">¿Cuál es tu email?</div>

                        <input-field class="col s12 m6" valdr-form-group>
                            <input type="email"
                                   id="email"
                                   name="email"
                                   class="validate"
                                   email-async-validator
                                   ng-model="vm.user.email"
                                   ng-model-options="{ updateOn: 'blur' }">
                            <label for="email">Email</label>

                            <div class="valdr-message invalid" ng-show="userSignupForm.$error.email">
                                Este email ya está registrado
                            </div>
                        </input-field>

                        <!-- Email loading spinner -->
                        <span ng-show="userSignupForm.$pending.email">
                            <div class="preloader-wrapper small active">
                                <div class="spinner-layer spinner-yellow-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </span>

                    </div>

                    <!-- Birth date -->
                    <div class="row">
                        <div class="col s12 m4 field-title custom-input">
                            ¿En qué fecha naciste?
                        </div>

                        <div valdr-form-group>
                            <div class="col s12 m5">
                                <div class="center">
                                    {{ vm.user.birthDate | date:'longDate' }}
                                </div>
                                <div class="divider"></div>
                                <div enable-valdr-validation
                                     enable-valdr-message
                                     name="birthDate"
                                     date-picker="vm.user.birthDate"
                                     view="{{ vm.user.birthDate ? 'date' : 'year' }}"
                                     min-view="date"
                                     ng-model="vm.user.birthDate">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="row">

                        <div class="col s12 m4 field-title">
                            Ahora, lo más difícil <br>Te lo vamos a recompensar ;)
                        </div>

                        <!-- New password -->
                        <input-field class="col s12 m4" valdr-form-group>
                            <input type="password"
                                   id="password"
                                   name="password"
                                   ng-model="vm.user.password"
                                   ng-model-options="{ updateOn: 'blur' }">
                            <label for="password">Nueva contraseña</label>
                        </input-field>

                        <!-- Confirm password -->
                        <input-field class="col s12 m4">
                            <input type="password"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   ng-model="confirmPassword"
                                   ng-model-options="{ updateOn: 'blur' }">
                            <label for="confirmPassword">Confirmar contraseña</label>

                            <div class="valdr-message invalid" ng-if="confirmPassword != vm.user.password">
                                Las contraseñas no coinciden
                            </div>
                        </input-field>

                        <!-- Award -->
                        <div class="col s12"
                             ng-show="vm.showAwardButton(userSignupForm)">
                            <div class="row">
                                <a href=""
                                   class="btn"
                                   ng-init="showAward = false"
                                   ng-click="showAward = !showAward">
                                    Mostrar sorpresa
                                </a>
                            </div>
                            <div class="row">
                                <img src="images/award.gif" alt="Tu premio" ng-show="showAward">
                            </div>
                        </div>

                    </div>

                    <!-- Profile picture -->
                    <div class="row">
                        <!--<img src="images/mock.jpg" class="img-responsive" alt="Profile picture">-->
                    </div>

                </form>
            </div>
        </div>

        <!-- Navigation buttons -->
        <div class="row">

            <div class="col s12">

                <!-- Next button -->
                <div class="right">
                    <div class="row">
                        <div class="col s12">
                            <span class="red-text right" ng-show="userSignupForm.$invalid">
                                Hay campos inválidos o sin completar
                            </span>
                        </div>
                        <div class="col s12">
                            <button class="btn right amber"
                                    ng-disabled="userSignupForm.$pending"
                                    ng-click="vm.sendConfirmation(userSignupForm)">
                                Siguiente
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>