.subject-select button {
    background-color: white;
    border: 0;
    color: black;
    font-size: .85em;
    height: 40px;
    line-height: 16px;
    padding: 4px 12px;
    text-align: left;
    width: 100%;
}

.subject-select button:hover {
    background-color: rgba(255, 193, 7, 0.4);
}

.subject-select button:active {
    /*background-color: pink;*/
    color: black;
}

.subject-select div {
    background-color: white;
    box-shadow: 1px 1px 8px gray;
    margin-top: -6px;
    max-height: 270px;
    overflow-y: auto;
    position: absolute;
    width: 240px;
    z-index: 999;
}

.subject-select div:empty {
    display: none;
}
