<!-- Schedule filter -->
<span class="schedule">

    <!-- Morning icon -->
    <a href=""
       class="morning"
       ng-class="morning ? 'on' : 'muted-text'">
        <i ng-click="toggleMorning()"
           class="fa fa-sun-o">
        </i>
    </a>

    <!-- Afternoon icon -->
    <a href=""
       class="afternoon"
       ng-class="afternoon ? 'on' : 'muted-text'">
        <i ng-click="toggleAfternoon()"
           class="fa fa-question">
        </i>
    </a>

    <!-- Night icon -->
    <a href=""
       class="night"
       ng-class="night ? 'on' : 'muted-text'">
        <i ng-click="toggleNight()"
           class="fa fa-moon-o">
        </i>
    </a>

    <br>
    Horarios
</span>