<!-- Home lesson filter -->
<a class="btn-flat filter-icon teacher-schedule">

    <!-- Morning icon -->
    <i ng-click="toggleMorning()"
       class="fa fa-sun-o"
       ng-class="morning ? 'schedule-morning-enabled' : 'muted-text'">
    </i>

    <!-- Afternoon icon -->
    <i ng-click="toggleAfternoon()"
       class="fa fa-question"
       ng-class="afternoon ? 'schedule-afternoon-enabled' : 'muted-text'">
    </i>

    <!-- Night icon -->
    <i ng-click="toggleNight()"
       class="fa fa-moon-o"
       ng-class="night ? 'schedule-night-enabled' : 'muted-text'">
    </i>

    <p class="filter-description">Horarios</p>
</a>