<!-- Degree -->
<span>

    <!-- Undefined -->
    <i ng-if="!degree"
       class="fa fa-graduation-cap muted-text">
    </i>

    <!-- Undergraduated -->
    <i ng-if="degree == 'undergraduate'"
       class="fa fa-graduation-cap muted-text">
    </i>

    <!-- Graduated -->
    <i ng-if="degree == 'graduate'"
       class="fa fa-graduation-cap text-default">
    </i>

    <!-- Postgraduated -->
    <i ng-if="degree == 'postgraduate'"
       class="fa fa-graduation-cap orange-text">
    </i>
</span>