<!-- Degree -->
<span tooltip="{{ degree | degree }}">

    <!-- Undefined -->
    <i ng-if="!degree"
       class="fa fa-graduation-cap text-muted">
    </i>

    <!-- Undergraduated -->
    <i ng-if="degree == 'Undergraduate'"
       class="fa fa-graduation-cap text-muted">
    </i>

    <!-- Graduated -->
    <i ng-if="degree == 'Graduate'"
       class="fa fa-graduation-cap text-default">
    </i>

    <!-- Postgraduated -->
    <i ng-if="degree == 'Postgraduate'"
       class="fa fa-graduation-cap text-warning">
    </i>
</span>