.subject-unselect button {
    background-color: aquamarine;
    border: 0;
    border-radius: 12px;
    color: blue;
    font-size: 1em;
    height: 24px;
    position: absolute;
    right: 3px;
    top: 3px;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    width: 24px;
}

.subject-unselect button:hover {
    background-color: yellow;
    color: gray;
}

.subject-unselect button:active {
    background-color: pink;
    color: black;
}

.subject-unselect div {
    background-color: orange;
    border: 1px solid red;
    border-radius: 16px;
    color: black;
    float: left;
    font-size: .8em;
    height: 32px;
    line-height: 13px;
    margin: 3px;
    padding: 2px 36px 2px 12px;
    position: relative;
}
