.subject-unselect button {
    background-color: transparent;
    border: 0;
    border-radius: 12px;
    color: #666;
    font-weight: 0;
    font-size: 2em;
    height: 24px;
    padding: 0;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 6px;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    width: 24px;
}

.subject-unselect button:hover {
    opacity: 0.8;
}

.subject-unselect button:active {
    /*background-color: pink;*/
    color: black;
}

.subject-unselect div {
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    color: #333;
    float: left;
    font-size: .8em;
    height: 36px;
    line-height: 13px;
    margin: 3px;
    padding: 6px 36px 4px 12px;
    position: relative;
}
