<div class="container-fluid">
    <div class="card valign-wrapper">
        <div class="row no-margin-row">

            <!-- Review student image -->
            <div class="col s4">
                <img src="images/mock.jpg" class="responsive-img valign"/>
            </div>

            <!-- Review comment and student name -->
            <div class="col s7">

                <!-- Student name and date -->
                <div class="row">

                    <!-- Student or teacher name -->
                    <div class="col s12">
                        <span ng-if="!forStudent">{{ review.student.user | fullName }}</span>
                        <span ng-if="forStudent">{{ review.teacher.user | fullName }}</span>
                        <rating class="orange-text"
                                readonly="true"
                                ng-model="review.rating">
                        </rating>
                    </div>

                    <!-- TODO: Add created date! -->
                    <!-- Review date -->
                    <div class="col s3">

                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        {{ review.comment }}
                    </div>
                </div>

            </div>

            <!-- Review controls -->
            <div class="col s1" ng-if="forStudent">
                <a class="btn-flat" ng-click="deleteReview({ teacher: review.teacher.id })">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
    </div>
</div>