/*
    This file contains all the styles applied to the home page's header.
    All the rules must be prefixed with .home-header prefix.
    Ex:
    .home-header .navbar-default {

    }

 */

.home-header .navbar-default {
    border: none;
    box-shadow: none;
}
.home-header nav ul li:hover, nav ul li.active {
  background-color: transparent;
}
