/*
    This file contains all the styles applied to the home page's container.
    All the rules must be prefixed with .home-header parent class.
*/
.home-container nav {
    box-shadow: none;
}

.home-container {
    background-color: white;
}

.home-container .gif-border {
    border: 2px solid #616161;
}

#front-background-img {
    background: url(/images/fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

@media (min-width: 993px) {
    .home-container .nav-wrapper {
        padding: 0 3rem;
    }
}

@media (max-width: 992px) {
    .home-container .nav-wrapper {
        padding: 0 0.5rem;
    }
}

.home-container #log-in {
    background: url(/images/buttonbackground.png) no-repeat center;
    width: 150px;
    height: 50px;
    line-height: 50px;
}

.home-container header {
    margin-top: 15vh;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
}

.home-container .main-browser {
    padding-bottom: 1rem;
}

@media (min-width: 993px) {
    .home-container #main-title {
        margin-left: 3rem;
        margin-right: 3rem;
        line-height: 0.8rem;
    }
}

@media (max-width: 992px) {
    .home-container #main-title {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .home-container header {
        margin-top: 5vh;
        padding-bottom: 0vh;
    }

    .home-container header h1 {
        font-size: 2.5rem;
    }
}

.home-container #main-title, .home-container #nav-title {
    font-family: 'Love Ya Like A Sister', cursive;
}

.home-container #angle-down {
    text-shadow: -2px 3px 0px rgba(1, 1, 1, 0.4);
    font-size: 3rem;
    height: 10vh;
}

.home-container h1 {
    margin-bottom: 3rem;
    font-size: 4.5rem;
}

@media (max-width: 600px) {
    .home-container h1 {
        font-size: 3rem;
    }
}

.tabs .tab a.active {
    color: white;
}

#tabs ul li a.active {
    background-color: #ffca28;
}

.tabs .indicator {
    display: none;
}

.home-container .tab-text {
    font-size: 1.3rem;
}

.home-container #how-it-works {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home-container .tabs {
    font-size: 1.4rem;
}

.home-container .tab-top-border {
    border-top: 2px solid #ffca28;
}

.home-container .content-tabs {
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.home-container .img-comments {
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #ffc107;
}

.home-container .ballooncomment {
    border-radius: 25px 25px 25px 0px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
}

.home-container .ballooncomment, .home-container .ballooncomment i, .home-container .ballooncomment b {
    color: #0C0C0C;
    font-size: 1.1rem;
}

.home-container #comments {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(/images/comentarios.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

@media (max-width: 932px) {
    .home-container #comments {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .home-container #mobiledivisioncomments {
        padding-top: 3rem;
    }
}

@media (max-width: 600px) {
    .home-container .ballooncomment {
        border-radius: 0px 25px 25px 25px;
    }
}

.home-container #ready {
    padding-top: 5.5rem;
    padding-bottom: 7rem;
}

.home-container #paddingapprovebutton {
    padding-bottom: 1rem;
}

@media (max-width: 600px) {
    .home-container #ready {
        padding-top: 3.5rem;
        padding-bottom: 5rem;
    }
}

.home-container #faq {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: orange;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.home-container #faqs {
    padding: 16px
}

@media (max-width: 600px) {
    .home-container #faq {
        display: none;
    }
}
