<div class="search-container teachers-search">
    <div class="row search">

        <!-- Left sidebar -->
        <div class="col s12 m3 search">

            <!-- City and text filters -->
            <div class="card z-depth-2 filter-card search">

                <div class="card-content">

                    <div class="row no-margin-row">
                        <!-- Subject filter -->
                        <div class="col s12">
                            <ui-select multiple
                                       ng-model="vm.searchCriteria.subjects"
                                       ng-disabled="disabled"
                                       class="full-width"
                                       on-select="vm.search()"
                                       on-remove="vm.search()">
                                <ui-select-match placeholder="Elegí tus materias...">
                                    {{ $item.name }}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="subject in vm.subjects | filter:{name:$select.search}:vm.removeAccents track by subject.id">
                                    <div ng-bind-html="subject.name | highlight: $select.search"></div>
                                    <div ng-bind-html="subject.level | level"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <!-- City filter -->
                        <div class="col s12" ng-if="showMore">
                            <select class=""
                                    ng-model="vm.searchCriteria.city"
                                    ng-change="vm.search()"
                                    material-select
                                    watch>
                                <option value="" selected disabled>Elegí tu ciudad...</option>
                                <option ng-repeat="city in vm.cities" ng-value="city">{{ city | city }}</option>
                            </select>
                        </div>

                        <!-- Text filter -->
                        <input-field class="col s12" ng-if="showMore">
                            <input ng-model="vm.searchCriteria.text"
                                   ng-model-options="{ debounce: 750 }"
                                   ng-change="vm.search()"
                                   type="text"
                                   class="form-control"
                                   placeholder="Nombre o descripcion..."/>
                        </input-field>
                    </div>

                </div>

                <div class="card-action">
                    <div class="row no-margin-row">

                        <!-- Show more button -->
                        <button ng-init="showMore = false" ng-click="showMore = !showMore"
                                class="btn-flat left">
                            {{ showMore ? 'Menos' : 'Más' }}
                        </button>

                        <!-- Clear filters button -->
                        <button ng-click="vm.clearFilters()"
                                class="btn-flat right">
                            Limpiar filtros
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right content -->
        <div class="col s12 m9 search">

            <!-- Search filters and order -->
            <div class="row search">

                <!-- Filters -->
                <div class="col s12 m9 search">

                    <div class="card z-depth-2 search">
                        <div class="row no-margin-row card-content center">
                            <!-- Rating filter -->
                            <div class="col s6 m3">

                                <!-- TODO: BUG - Calls search() on initialization -->
                                <rating class="orange-text filter-icon"
                                        on-change="vm.search()"
                                        ng-model="vm.searchCriteria.averageRating">
                                </rating>
                                <p class="filter-description">Puntaje mínimo</p>
                            </div>

                            <!-- Individual lessons -->
                            <div class="col s6 m2">
                                <individual-filter ng-model="vm.searchCriteria.individualLessons"
                                                   ng-click="vm.search()">
                                </individual-filter>
                            </div>

                            <!-- For proper column alignment -->
                            <div class="clearfix hide-on-med-and-up"></div>

                            <!-- Schedule filter -->
                            <div class="col s6 m2">
                                <schedule-filter morning="vm.searchCriteria.morning"
                                                 afternoon="vm.searchCriteria.afternoon"
                                                 night="vm.searchCriteria.night"
                                                 ng-click="vm.search()">
                                </schedule-filter>
                            </div>

                            <!-- Fee filter -->
                            <div class="col s6 m2">
                                <fee-filter ng-click="vm.search()" ng-model="vm.searchCriteria.fee"></fee-filter>
                            </div>

                            <!-- For proper column alignment -->
                            <div class="clearfix hide-on-med-and-up"></div>

                            <!-- Home lesson filter -->
                            <div class="col s6 m1">
                                <home-filter ng-click="vm.search()"
                                             ng-model="vm.searchCriteria.homeLessons"></home-filter>
                            </div>

                            <!-- Degree filter -->
                            <div class="col s6 m2">
                                <degree-filter ng-click="vm.search()"
                                               degrees-names="vm.degreesNames"
                                               selected-degrees="vm.selectedDegrees">
                                </degree-filter>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- Sort panel -->
                <div class="col s12 m3 search">
                    <div class="card z-depth-2 search">
                        <div class="card-content">

                            <!-- Sort title -->
                            <div class="row no-margin-row center sort-panel-title">
                                <div class="filter-description">Ordenar por</div>
                            </div>

                            <!-- Sort controls -->
                            <div class="row no-margin-row">

                                <!-- Distance sort -->
                                <div class="col s4">
                                    <sort-control ng-click="vm.search()"
                                                  ng-model="vm.searchCriteria.sort.distance"
                                                  text="Distancia"
                                                  icon-class="fa-map-marker"
                                                  icon-color-class="red-text text-darken-2">
                                    </sort-control>
                                </div>

                                <!-- Rating sort -->
                                <div class="col s4">
                                    <sort-control ng-click="vm.search()"
                                                  ng-model="vm.searchCriteria.sort.averageRating"
                                                  text="Puntaje"
                                                  icon-class="fa-star"
                                                  icon-color-class="amber-text">
                                    </sort-control>
                                </div>

                                <!-- Fee sort -->
                                <div class="col s4">
                                    <sort-control ng-click="vm.search()"
                                                  ng-model="vm.searchCriteria.sort.fee"
                                                  text="Precio"
                                                  icon-class="fa-usd"
                                                  icon-color-class="green-text text-darken-2">
                                    </sort-control>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Information message -->
            <div class="row search">

                <div class="col s12 m9">
                    <div class="card orange lighten-5">

                        <!-- No signed up user -->
                        <div class="card-content" ng-if="!vm.user">
                            Inicie sesión para incluir en los resultados la distancia aproximada
                            <a ui-sref="root.login" class="btn-flat right">Iniciar sesion</a>
                        </div>

                        <!-- No signed up student -->
                        <div class="card-content" ng-if="vm.user && !vm.student">
                            Cree su perfil de estudiante para incluir en los resultados la distancia aproximada
                            <a ui-sref="root.signup.student" class="btn-flat right">Crear mi perfil de estudiante</a>
                        </div>

                        <!-- Signed up student with no distance -->
                        <div class="card-content" ng-if="vm.user && vm.student && !vm.student.location">
                            Defina su ubicación para incluir en los resultados la distancia aproximada
                            <a ui-sref="root.account.student" class="btn-flat right">Definir mi ubicación</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search results -->
            <div class="row search">

                <!-- Results -->
                <div class="col s12 m9 search"
                     ng-if="!vm.teacherResult.length"
                     ng-repeat="teacher in vm.teachersResult">

                    <teacher-result ng-model="teacher"
                                    view-profile="vm.viewProfile(teacher)">
                    </teacher-result>

                </div>

                <!-- Searching spinner -->
                <div class="col s12 m9">
                    <div class="center" ng-if="vm.searching">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-yellow-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nothing found message -->
                <div class="col s12 m9">
                    <div ng-if="!vm.teachersResult.length && !vm.searching">
                        <h4 class="center">
                            ¡Uh! No hay nadie que cumpla esas condiciones :(
                        </h4>

                        <p class="center">
                            Tip: Revisa los filtros ;)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
