<div class="">
    <div class="row">
        <!-- Main content -->
        <div class="col s12 m10 offset-m1">
            <div class="row">

                <div class="col s12 card">

                    <!-- City and text filters -->
                    <div class="row">

                        <!-- City filter -->
                        <div class="col s12 m3 hide-on-small-and-down">
                            <select class="" ng-model="vm.searchCriteria.city" material-select watch>
                                <option ng-repeat="city in vm.cities">{{city | city}}</option>
                            </select>
                        </div>

                        <!-- Subject filter -->
                        <div class="col s10 m3">
                            <select class="" ng-model="vm.searchCriteria.singleSelectedSubject" material-select watch>
                                <option ng-repeat="subject in vm.subjects">
                                    {{ subject.name }} - {{ subject.level | level }}
                                </option>
                            </select>
                        </div>

                        <!-- Text filter -->
                        <div class="col s11 m3 hide-on-small-and-down">
                            <input ng-model="vm.searchCriteria.text"
                                   ng-model-options="{ debounce: 750 }"
                                   ng-change="vm.search()"
                                   type="text"
                                   class="form-control"
                                   placeholder="Nombre o descripcion..."/>
                        </div>

                        <!-- Advanced search -->
                        <div class="col s2 m1 hide-on-small-and-down">
                            <span class="filter-icon" data-tooltip="Búsqueda avanzada"
                                  ng-init="vm.advancedVisible = false"
                                  ng-click="vm.advancedVisible = !vm.advancedVisible">
                                <i class="fa fa-minus" ng-if="vm.advancedVisible"></i>
                                <i class="fa fa-plus" ng-if="!vm.advancedVisible"></i>
                            </span>
                        </div>

                        <!-- Clear filters button -->
                        <div class="col s2 m1">
                            <span ng-click="vm.clearFilters()"
                                  class="center filter-icon"
                                  data-tooltip="Limpiar filtros">
                                <i class="fa fa-close blue-text"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Basic filters -->
                    <div class="row center"
                         ng-show="!vm.advancedVisible">

                        <!-- Fee filter -->
                        <div class="col s4 m2">
                            <fee-filter ng-click="vm.search()" ng-model="vm.searchCriteria.fee"></fee-filter>
                        </div>

                        <!-- Degree filter -->
                        <div class="col s3 m1">
                            <degree-filter ng-click="vm.search()"
                                           degrees-names="vm.degreesNames"
                                           selected-degrees="vm.selectedDegrees">
                            </degree-filter>
                        </div>

                        <!-- Rating filter -->
                        <div class="col s5 m2">
                            <div>
                                <i class="fa fa-star-o orange-text"></i>
                                <i class="fa fa-star-o orange-text"></i>
                                <i class="fa fa-star-o orange-text"></i>
                                <i class="fa fa-star-o orange-text"></i>
                                <i class="fa fa-star-o orange-text"></i>
                                <rating class="orange-text filter-icon"
                                        data-tooltip="Calificación"
                                        on-change="vm.search()"
                                        ng-model="vm.searchCriteria.averageRating">
                                </rating>
                                <p class="filter-description">Puntaje mínimo</p>
                            </div>
                        </div>

                        <!-- For proper column alignment -->
                        <div class="clearfix hide-on-med-and-up"></div>

                        <!-- Individual lessons -->
                        <div class="col s4 m1">
                            <individual-filter ng-model="vm.searchCriteria.individualLessons"
                                               ng-click="vm.search()">
                            </individual-filter>
                        </div>

                        <!-- Home lesson filter -->
                        <div class="col s3 m1">
                            <home-filter ng-click="vm.search()" ng-model="vm.searchCriteria.homeLessons"></home-filter>
                        </div>

                        <!-- Schedule filter -->
                        <div class="col s5 m2">
                            <schedule-filter morning="vm.searchCriteria.morning"
                                             afternoon="vm.searchCriteria.afternoon"
                                             night="vm.searchCriteria.night"
                                             ng-click="vm.search()">
                            </schedule-filter>
                        </div>

                    </div>

                    <!-- Advanced filters -->
                    <div class="row" ng-show="vm.advancedVisible">

                        <!-- Tab headings -->
                        <div class="col s12">
                            <ul class="tabs" tabs>
                                <li class="tab col s6">
                                    <a href="#subjectsTab">Materias</a>
                                </li>
                                <li class="tab col s6"><a href="#schedulesTab">Horarios</a></li>
                                <li class="tab col s6"><a href="#degreesTab">Estudios</a></li>
                                <li class="tab col s6"><a href="#feeTab">Precio máximo</a></li>
                                <li class="tab col s6"><a href="#individualLessonsTab">Tipo de clase</a></li>
                                <li class="tab col s6"><a href="#homeLessonsTab">A domicilio</a></li>
                            </ul>
                        </div>

                        <!-- Tab contents -->
                        <div class="col s12">

                            <!-- Subjects -->
                            <div id="subjectsTab" class="col s12">
                                <div
                                        isteven-multi-select
                                        input-model="vm.subjects"
                                        output-model="outputBrowsers"
                                        button-label="name filteredLevel"
                                        item-label="name filteredLevel"
                                        search-property="filteredName"
                                        tick-property="selected"
                                        on-change="vm.search()"
                                        on-item-click="vm.search()"
                                        on-select-none="vm.search()"
                                        on-select-all="vm.search()"
                                        helper-elements="all none filter"
                                        translation="vm.localSelectStrings">
                                </div>

                                <div class="divider"></div>

                        <span ng-repeat="subject in vm.subjects">
                            <input id="subject{{ $index }}"
                                   ng-change="vm.search()"
                                   ng-model="subject.selected"
                                   value="{{ subject.selected }}"
                                   type="checkbox">
                            <label for="subject{{ $index }}" class="black-text">{{ subject.name }}</label>
                        </span>
                            </div>

                            <!-- Schedule -->
                            <div id="schedulesTab" class="col s12">
                                <div class="checkbox">
                            <span>
                                <input id="morning"
                                       ng-change="vm.search()"
                                       ng-model="vm.searchCriteria.morning"
                                       value="{{ vm.searchCriteria.morning }}"
                                       ng-true-value="'1'"
                                       ng-false-value="null"
                                       type="checkbox"/>
                                <label for="morning">Mañana</label>
                            </span>
                            <span>
                                <input id="afternoon"
                                       ng-change="vm.search()"
                                       ng-model="vm.searchCriteria.afternoon"
                                       value="{{ vm.searchCriteria.afternoon }}"
                                       ng-true-value="'1'"
                                       ng-false-value="null"
                                       type="checkbox"/>
                                <label for="afternoon">Tarde</label>
                            </span>
                            <span>
                                <input id="night"
                                       ng-change="vm.search()"
                                       ng-model="vm.searchCriteria.night"
                                       value="{{ vm.searchCriteria.night }}"
                                       ng-true-value="'1'"
                                       ng-false-value="null"
                                       type="checkbox"/>
                                <label for="night">Noche</label>
                            </span>
                                </div>
                            </div>

                            <!-- Degree -->
                            <div id="degreesTab" class="col s12">
                                <label ng-repeat="degree in vm.degreesNames">
                                    <input ng-change="vm.search()"
                                           ng-model="vm.selectedDegrees[$index]"
                                           value="{{ vm.selectedDegrees[$index] }}"
                                           type="checkbox"/>
                                    {{ degree | degree }}
                                </label>
                            </div>

                            <!-- Fee -->
                            <div id="feeTab" class="col s12">
                                <rzslider ng-init="vm.searchCriteria.fee = 400"
                                          rz-slider-on-change="alert('messi')"
                                          rz-slider-model="vm.searchCriteria.fee"
                                          rz-slider-translate="vm.moneyTranslate"
                                          rz-slider-floor="20"
                                          rz-slider-ceil="400"
                                          rz-slider-step="20"
                                          rz-slider-always-show-bar="true">
                                </rzslider>
                            </div>

                            <!-- Class audience -->
                            <div id="individualLessonsTab" class="col s12">
                                <label>
                                    <input type="radio"
                                           ng-change="vm.search()"
                                           ng-model="vm.searchCriteria.groupLessons"
                                           ng-value="undefined"/> Cualquiera
                                </label>
                                <label>
                                    <input type="radio"
                                           ng-change="vm.search()"
                                           ng-model="vm.searchCriteria.groupLessons"
                                           ng-value="false"/>
                                    Personalizada
                                </label>
                                <label>
                                    <input type="radio"
                                           ng-change="vm.search()"
                                           ng-model="vm.searchCriteria.groupLessons"
                                           ng-value="true"/>
                                    Grupal
                                </label>
                            </div>

                            <!-- Home lessons -->
                            <div id="homeLessonsTab" class="col s12">
                                <label>
                                    <input type="radio"
                                           ng-change="vm.search()"
                                           ng-model="vm.searchCriteria.homeLessons"
                                           ng-value="undefined"/> Cualquiera
                                </label>
                                <label>
                                    <input type="radio"
                                           ng-change="vm.search()"
                                           ng-model="vm.searchCriteria.homeLessons"
                                           ng-value="false"/>
                                    No va a domicilio
                                </label>
                                <label>
                                    <input type="radio"
                                           ng-change="vm.search()"
                                           ng-model="vm.searchCriteria.homeLessons"
                                           ng-value="true"/>
                                    Va a domicilio
                                </label>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- Search results -->
                <div class="col s12">
                    <div ng-repeat="teacher in vm.teachersResult" class="col s6 m6 little-padding">

                        <teacher-result ng-model="teacher" view-profile="vm.viewProfile(teacher)"></teacher-result>
                    </div>
                </div>

                <div class="col s12">
                    <!-- Nothing found message -->
                    <h4 class="center" ng-if="!vm.teachersResult.length">
                        ¡Uh! No hay nadie que cumpla esas condiciones :(
                    </h4>

                    <p class="lead center" ng-if="!vm.teachersResult.length">
                        Tip: Revisa los filtros ;)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
