<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <a ui-sref="root.home" class="brand-logo left orange-text">Profexpress</a>
            <a data-activates="mobile-demo" data-sidenav="left" data-closeonclick="true" class="button-collapse">
                <i class="mdi-navigation-menu orange-text"></i>
            </a>
            <ul class="side-nav" id="mobile-demo">

                <li ui-sref-active="active">
                    <a ui-sref="root.teachersSearch" class="orange-text">
                        Buscar profesores
                    </a>
                </li>

                <!-- Logged in buttons -->
                <span ng-show="vm.isAuthenticated()">
                    <li ui-sref-active="active"
                        ng-cloak>
                        <a ui-sref="root.account.user" class="orange-text"><i
                                class="material-icons left">account_circle</i>
                            {{ vm.getCurrentUser().firstName}}
                        </a>
                    </li>
                    <li>
                        <!-- TODO: Replace click with ui-sref -->
                        <a href="" ng-click="vm.logout()" class="orange-text">Salir</a>
                    </li>
                </span>

                <!-- Logged out buttons -->
                <span ng-show="!vm.isAuthenticated()">
                    <li>
                        <a ui-sref="root.login"
                           ng-click="isCollapsed = true"
                           class="orange-text">
                            Iniciar sesión
                        </a>
                    </li>
                    <li>
                        <a ui-sref="root.register.method({target: 'teacher'})"
                           class="orange-text"
                           ng-click="isCollapsed = true">
                            Quiero enseñar
                        </a>
                    </li>
                </span>
            </ul>

            <ul class="right" class="hide-on-med-and-down">

                <li ui-sref-active="active">
                    <a ui-sref="root.teachersSearch" class="orange-text">
                        Buscar profesores
                    </a>
                </li>

                <!-- Logged in buttons -->
                <span ng-show="vm.isAuthenticated()">
                    <li ui-sref-active="active"
                        ng-cloak>
                        <a ui-sref="root.account.user" class="orange-text"><i
                                class="material-icons left">account_circle</i>
                            {{ vm.getCurrentUser().firstName}}
                        </a>
                    </li>
                    <li>
                        <!-- TODO: Replace click with ui-sref -->
                        <a href="" ng-click="vm.logout()" class="orange-text">Salir</a>
                    </li>
                </span>

                <!-- Logged out buttons -->
                <span ng-show="!vm.isAuthenticated()">
                    <li>
                        <a ui-sref="root.login"
                           ng-click="isCollapsed = true"
                           class="orange-text">
                            Iniciar sesión
                        </a>
                    </li>
                    <li>
                        <a ui-sref="root.register.method({target: 'teacher'})"
                           class="orange-text"
                           ng-click="isCollapsed = true">
                            Quiero enseñar
                        </a>
                    </li>
                </span>
            </ul>

        </div>
    </nav>
</div>