<span class="home-header">

    <div id="mainNav"
         ng-cloak
         class="home-header navbar navbar-default navbar-fixed-top"
         ng-class="vm.atTheTop ? 'navbar-inverse' : 'navbar-primary'"
         role="navigation">

        <div class="container">
            <div class="navbar-header">

                <button type="button"
                        class="navbar-toggle collapsed"
                        ng-click="isCollapsed = !isCollapsed"
                        data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" ui-sref="root.home">home</a>
            </div>

            <div class="navbar-collapse collapse"
                 ng-init="isCollapsed = true"
                 collapse="isCollapsed"
                 id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="root.teachersSearch"
                           ng-click="isCollapsed = true">
                            Buscar profesores
                        </a>
                    </li>
                </ul>

                <!-- Logged in bar -->
                <ul class="nav navbar-nav navbar-right" ng-show="vm.isAuthenticated()">
                    <li ui-sref-active="active"
                        ng-click="isCollapsed = true"
                        ng-cloak>
                        <a ui-sref="root.account.user"><i class="fa fa-user"></i> {{ vm.getCurrentUser().firstName
                            }}</a>
                    </li>
                    <li>
                        <!-- TODO: Replace click with ui-sref -->
                        <a href="" ng-click="vm.logout()">Salir</a>
                    </li>
                </ul>

                <!-- Logged out bar -->
                <ul class=" nav navbar-nav navbar-right" ng-show="!vm.isAuthenticated()">
                    <li>
                        <a ui-sref="root.login" ng-click="isCollapsed = true">Iniciar sesión</a>
                    </li>
                    <li>
                        <a ui-sref="root.register.method({target: 'teacher'})"
                           ng-click="isCollapsed = true">
                            Quiero enseñar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</span>